@page "/salir"
@inject NavigationManager navigationManager

<h3>¿Estás seguro de que quieres cerrar sesión?</h3>

<button class="btn btn-danger" @onclick="HandleLogoutConfirmation">Sí, cerrar sesión</button>
<button class="btn btn-primary" @onclick="HandleLogoutCancellation">Cancelar</button>

@code {
    private async Task HandleLogoutConfirmation()
    {
        await servicioAutenticacion.Salir();
        navigationManager.NavigateTo("/");
    }

    private void HandleLogoutCancellation()
    {
        navigationManager.NavigateTo("/inicio");
    }
}
