
<RadzenLayout Style="grid-template-areas: 'rz-sidebar rz-header' 'rz-sidebar rz-body' 'rz-sidebar rz-footer'">
    <RadzenHeader>
        <RadzenStack Orientation="Orientation.Horizontal" AlignItems="AlignItems.Center" Gap="0">
            <RadzenSidebarToggle Click="@(() => sidebarExpanded = !sidebarExpanded)" />
            <RadzenMenu>
                <RadzenMenuItem Text="SIAES" Path="/" Icon="home">
                </RadzenMenuItem>
                <RadzenMenuItem Text="Registrar" Icon="payment">
                    <RadzenMenuItem Text="Cuadros" Path="checkbox" Icon="assignment"></RadzenMenuItem>
                </RadzenMenuItem>
                <RadzenMenuItem Text="Reportes" Icon="save">
                    <RadzenMenuItem Text="Reportes" Path="datagrid" Icon="assessment"></RadzenMenuItem>
                    <RadzenMenuItem Text="Mostrar Cuadros" Path="datalist" Icon="assignment_late"></RadzenMenuItem>
                    <RadzenMenuItem Text="Listar Cuadros" Path="dropdown" Icon="assignment_turned_in"></RadzenMenuItem>
                </RadzenMenuItem>
                <RadzenMenuItem Text="Configuración" Icon="build">
                    <RadzenMenuItem Text="Salir" Path="tabs" Icon="exit_to_app"></RadzenMenuItem>
                    <RadzenMenuItem Text="Cambiar contraseña" Path="panel" Icon="https"></RadzenMenuItem>
                </RadzenMenuItem>
                <RadzenMenuItem Text="Documentación" Icon="chrome_reader_mode">
                    <RadzenMenuItem Text="Resumen cuadro por encargado" Path="tabs" Icon="note_add"></RadzenMenuItem>
                    <RadzenMenuItem Text="Soporte al cliente" Path="tabs" Icon="pageview"></RadzenMenuItem>
                    <RadzenMenuItem Text="Manual de usuarios" Path="panel" Icon="offline_pin"></RadzenMenuItem>
                </RadzenMenuItem>
                <RadzenMenuItem Text="Mantenimiento" Icon="assignment_turned_in">
                </RadzenMenuItem>
                <RadzenMenuItem Text="Usuario" Icon="account_box">
                    <RadzenMenuItem Text="Unidad" Path="tabs" Icon="tab"></RadzenMenuItem>
                    <RadzenMenuItem Text="Soporte" Path="panel" Icon="content_paste"></RadzenMenuItem>
                    <RadzenMenuItem Text="Salir" Path="fieldset" Icon="account_balance_wallet"></RadzenMenuItem>
                </RadzenMenuItem>
            </RadzenMenu>
        </RadzenStack>
    </RadzenHeader>
    <RadzenSidebar Responsive="false" @bind-Expanded="@sidebarExpanded" Style="width: max-content">
        <RadzenPanelMenu>
            <RadzenPanelMenuItem Text="Registrar" Icon="payment">
                <RadzenPanelMenuItem Text="Cuadros" Path="checkbox" Icon="assignment"></RadzenPanelMenuItem>
            </RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Reportes" Icon="save">
                <RadzenPanelMenuItem Text="Reportes" Path="datagrid" Icon="assessment"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Mostrar Cuadros" Path="datalist" Icon="assignment_late"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Listar Cuadros" Path="dropdown" Icon="assignment_turned_in"></RadzenPanelMenuItem>
            </RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Configuración" Icon="build">
                <RadzenPanelMenuItem Text="Salir" Path="tabs" Icon="exit_to_app"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Cambiar contraseña" Path="panel" Icon="https"></RadzenPanelMenuItem>
            </RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Documentación" Icon="chrome_reader_mode">
                <RadzenPanelMenuItem Text="Resumen cuadro por encargado" Path="tabs" Icon="note_add"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Soporte al cliente" Path="tabs" Icon="pageview"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Manual de usuarios" Path="panel" Icon="offline_pin"></RadzenPanelMenuItem>
            </RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Mantenimiento" Icon="assignment_turned_in">
                <RadzenPanelMenuItem Text="Registrar usuario" Path="/registrar_usuario" Icon="face"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Asociar usuario" Path="tabs" Icon="hourglass_full"></RadzenPanelMenuItem>
            </RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Usuario" Icon="account_box">
                <RadzenPanelMenuItem Text="Unidad" Path="tabs" Icon="tab"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Soporte" Path="panel" Icon="content_paste"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Salir" Path="fieldset" Icon="account_balance_wallet"></RadzenPanelMenuItem>
            </RadzenPanelMenuItem>
        </RadzenPanelMenu>
    </RadzenSidebar>
    <RadzenBody>
        <div class="rz-p-4">
            @BodyContent
        </div>
    </RadzenBody>
    <RadzenFooter >

            Área de Estadística en Salud © 2020 - @DateTime.Now.Year
    </RadzenFooter>
</RadzenLayout>

@code {
    bool sidebarExpanded = false;
    [Parameter] public RenderFragment BodyContent { get; set; } = default!;
}